section {
    width: 80%;
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1594656878953-46af9b014a09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    margin: 0 auto;
}

h1 {
    font-size: 100px;
    color: #eae2b7;
}