section {
    background-color: #264653;
    width: 600px;
    height: 600px;
}

div {
    background-color: #e76f51;
    width: 70%;
    height: 20%;
}

h1 {
    font-size: 30px;
    border: 1px solid black;
    line-height: 200%;
}

h2 {
    font-size: 2em;
    margin-left: 1em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

article {
    font-size: 15px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: #386641;
    color: #f2e8cf;
}

ul {
    font-size: 0.7em;
}