<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1><%= 'The Home Page'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis alias facilis, praesentium illo dignissimos magni. Qui, fuga autem mollitia, molestias dolores iusto eum cupiditate, quae ab ea voluptas quo reiciendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium, sint eveniet similique ullam laboriosam rerum ea vitae ratione dolore unde hic, vel necessitatibus eaque at. Fugit ad earum praesentium!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis alias facilis, praesentium illo dignissimos magni. Qui, fuga autem mollitia, molestias dolores iusto eum cupiditate, quae ab ea voluptas quo reiciendis?</p>
</body>
</html>