<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body>
    <h1>Sorry, there is no subreddit named under "<%= subreddit %>". Try another name!</h1>
</body>
</html>