<%- layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <h3><a href="/campgrounds/new">Make a new campground</a></h3>
    <ul>
        <% for (let campground of campgrounds) { %>
            <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
        <% } %>
    </ul>
</body>
</html>