<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page</title>
</head>
<body>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <h3><a href="/campgrounds/<%= campground._id %>/edit">Edit this campground</a></h3>
    <h3><a href="/campgrounds">Back to the list</a></h3>
</body>
</html>